<h1>Posts</h1>

  <div class="text-right">
    <%= link_to "Publicar Post", new_post_path, class: "btn btn-primary" %>
  </div>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Mensaje</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
    </tr>
  <% end %>
</table>
